# .gitignore

# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore product images
public/products/croped/*
!public/products/croped/.gitkeep
public/products/images/*
!public/products/images/.gitkeep